rawpy>=0.19
Pillow>=10.0
numpy>=1.26
protobuf>=4.25,<5
PyYAML>=6.0
ttkthemes>=3.2.2
exifread>=3.0
tqdm>=4.66
scikit-image>=0.23
mediapipe>=0.10
insightface>=0.7.3
onnxruntime>=1.17
stringzilla==4.3.0
